@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* Add More Plus Jakarta */
@layer base {
    @font-face {
        font-family: 'Jakarta Sans';
        src: url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
    }
=======
[data-theme="night"] .btn {
  text-transform: capitalize; 
}

#input-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#input-color::-webkit-color-swatch {
  border-radius: .5rem;
  border: none;
}
#input-color::-moz-color-swatch {
  border-radius: .5rem;
  border: none;
>>>>>>> 2555e953fa9f22c7065de8b34eb611c6327a73ba
}