@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  text-transform: capitalize;
}

#input-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#input-color::-webkit-color-swatch {
  border-radius: 0.5rem;
  border: none;
}

#input-color::-moz-color-swatch {
  border-radius: 0.5rem;
  border: none;
}
